.hero {
  margin: auto;
  padding-top: 15em;
}

.heading {
  color: var(--acc-color);
  text-align: center;
  font-size: 5em;
  font-weight: 400;
  margin: 0 0 0.3em 0;
}

.subheading {
  color: var(--text-color);
  text-align: center;
  font-size: 1.6em;
  max-width: 30em;
  margin: auto;
}

.subheading em {
  color: var(--acc-color);
  font-style: normal;
  font-weight: 600;
}
