.hero {
  margin: auto;
  padding: 15em 0 18em;
}

.heading {
  color: var(--acc-color);
  text-align: center;
  font-size: 5em;
  font-weight: 400;
  margin: 0 0 0.3em 0;
}

.subheading {
  color: var(--text-color);
  text-align: center;
  font-size: 1.6em;
  max-width: 30em;
  margin: auto;
}

.subheading em {
  color: var(--acc-color);
  font-style: normal;
  font-weight: 600;
}

@media (max-width: 1280px) {
  .hero {
    padding: 10em 0 13em;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 8em 0 10em;
  }
  .heading {
    font-size: 3em;
  }
  .subheading {
    font-size: 1.4em;
  }
}

@media (max-width: 640px) {
  .heading {
    font-size: 2em;
  }
  .subheading {
    font-size: 1.2em;
  }
}
